<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" cdkDrag>
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<div style="display: flex">
 <div cdkDropList [cdkDropListData]="items"
  [cdkDropListConnectedTo]="secondList" #firstList="cdkDropList"
  (cdkDropListDropped)="drop($event)" style="width: 30%">
   <div *ngFor="let item of items" class="pop" cdkDrag>
       {{item}}
     </div>
 </div>
 
 <div cdkDropList [cdkDropListData]="alteArtists"
  [cdkDropListConnectedTo]="firstList" #secondList="cdkDropList"
  (cdkDropListDropped)="drop($event)" style="width: 30%">
 <div *ngFor="let artist of alteArtists" class="pop" cdkDrag>{{artist}}</div>
 </div>
</div>



<router-outlet></router-outlet>
